.App {
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#top-filler {
  margin-bottom: auto;
}

.nav-item, .nav-link {
  color: white;
}

.status-message {
  color:red;
  padding-top:25px;
}

.card {
  width:500px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
}

.btn {
  margin-left:10px;
}



.home-image {
  margin-top:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

